// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$bgblue: #1F1FF0;
$pacman: #FDC741;
$ghostorange: #F68233;
$ghostgreen: #1EDD88;
$ghostpink: #F90E4F;
$ghostpurple: #E478B1;
