// Define variables for your color scheme

// For example:

$bgblue: #1F1FF0;
$pacman: #FDC741;
$ghostorange: #F68223;
$ghostgreen: #1EDD88;
$ghostblue: #37CEFD;
$ghostpink: #F90E4F;
$ghostpurple: #E478B1;
