@media(max-height: 1366px) {
#token {
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#generated-token {
  height: 45px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 4px solid #1f1ff0;
}

#container-lobby {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
}

@media(max-height: 1024px) {

}

@media(max-height: 823px) {

}

@media(max-height: 812px) {

}

@media(max-height: 736px) {

}

@media(max-height: 667px) {

}

@media(max-height: 640px) {

}

@media(max-height: 568px) {

}
