#token {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#generated-token {
  height: 45px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 4px solid #1f1ff0;
}

#lobby-page-title {
  font-size: 27px;
}
