
#pages_home {
  @media(max-height: 1366px) {
.class_logo {
  width: 700px;
  height: 150px;
}

#home_logo {
  padding-top: 45px;
  display: flex;
  justify-content: center;
}

.go {
  text-align: center;
}

#go {
  padding-top: 40px;
  font-size: 60px;
}

h1 {
  font-family: 'Press Start 2P', cursive;
}

.ghost_team_home {
  display: flex;
  justify-content: center;
  padding-top: 115px;
}

.ghost_home {
  width: 80px;
  height: 80px;
  margin: 0 5px;
}

#nickname-input {
    padding-top: 145px;
    display: flex;
    justify-content: center;
}

#player_nickname {
  width: 700px;
  height: 57px;
  background-color: black;
  border-color: #1f1ff0;
  border-radius: 5px;
}

.role {
  padding-top: 55px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  border-radius: 5px;
}

.host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 178px;
  height: 45px;
  text-align: center;
  border: 4px solid #1f1ff0;
  background-color: black;
}

.guest {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 178px;
  height: 45px;
  text-align: center;
  border: 4px solid #1f1ff0;
  background-color: #1f1ff0;
}

#type_host {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
#type_guest {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
.form-group {
  padding-top: 55px;
}

#tokens_token {
  width: 80%;
  height: 57px;
  border-radius: 5px;
  background-color: #b3b3b3;
  margin: 0;
  text-align: center;
}

.tokens_token {
  display: flex;
  justify-content: center;
}

.tokens_generated {
  width: 356px;
  height: 57px;
  margin-left: 10px;
  text-align: center;
}

.disable-tag {
  display: none;
}

#create_player {
  padding-top: 118px;
}

#submit_player {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: black;
  height: 50px;
  border: 8px solid #1f1ff0;
  border-radius: 25px;
  color: white;
  width: 485px;
  height: 75px;
  font-size: 25px;
}

#center-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new_player {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.role_btn_guest {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.role_btn_guest .radio-btn {
  width: 55%;
}

.role_btn_host {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.role_btn_host label {
  width: 75%;
}

.visibility_token {
  visibility: hidden;
}

.invalid-feedback {
  font-size: 9px;
  width: 90%;
  margin-left: 5%;
}
}

@media(max-height: 1024px) {
.class_logo {
  width: 680px;
  height: 140px;
}

#home_logo {
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

.go {
  text-align: center;
}

#go {
  padding-top: 15px;
  font-size: 50px;
}

h1 {
  font-family: 'Press Start 2P', cursive;
}

.ghost_team_home {
  display: flex;
  justify-content: center;
  padding-top: 65px;
}

.ghost_home {
  width: 63px;
  height: 63px;
  margin: 0 5px;
}

#nickname-input {
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

#player_nickname {
  width: 500px;
  height: 57px;
  background-color: black;
  border-color: #1f1ff0;
  border-radius: 5px;
}

.role {
  padding-top: 35px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  border-radius: 5px;
}

.host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 178px;
  height: 45px;
  text-align: center;
  border: 4px solid #1f1ff0;
  background-color: black;
}

.guest {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 178px;
  height: 45px;
  text-align: center;
  border: 4px solid #1f1ff0;
  background-color: #1f1ff0;
}

#type_host {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
#type_guest {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
.form-group {
  padding-top: 47px;
}

#tokens_token {
  width: 72%;
  height: 57px;
  border-radius: 5px;
  background-color: #b3b3b3;
  margin: 0;
  text-align: center;
}

.tokens_token {
  display: flex;
  justify-content: center;
}

.tokens_generated {
  width: 356px;
  height: 57px;
  margin-left: 10px;
  text-align: center;
}

.disable-tag {
  display: none;
}

#create_player {
  padding-top: 59px;
}

#submit_player {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: black;
  height: 50px;
  border: 8px solid #1f1ff0;
  border-radius: 25px;
  color: white;
  width: 485px;
  height: 75px;
  font-size: 25px;
}

#center-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new_player {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.role_btn_guest {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.role_btn_guest .radio-btn {
  width: 55%;
}

.role_btn_host {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.role_btn_host label {
  width: 75%;
}

.visibility_token {
  visibility: hidden;
}

.invalid-feedback {
  font-size: 9px;
  width: 90%;
  margin-left: 5%;
}
}

@media(max-height: 823px) {
.class_logo {
  width: 370px;
  height: 85px;
}

#home_logo {
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

.go {
  text-align: center;
}

#go {
  padding-top: 115px;
  font-size: 35px;
}

h1 {
  font-family: 'Press Start 2P', cursive;
}

.ghost_team_home {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.ghost_home {
  width: 34px;
  height: 34px;
  margin: 0 3px;
}

#nickname-input {
    padding-top: 56px;
    display: flex;
    justify-content: center;
}

#player_nickname {
  width: 280px;
  height: 45px;
  background-color: black;
  border-color: #1f1ff0;
  border-radius: 5px;
}

.role {
  padding-top: 20px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  border-radius: 5px;
}

.host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 45px;
  text-align: center;
  border: 4px solid #1f1ff0;
  background-color: black;
}

.guest {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 45px;
  text-align: center;
  border: 4px solid #1f1ff0;
  background-color: #1f1ff0;
}

#type_host {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
#type_guest {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
.form-group {
  padding-top: 20px;
}

#tokens_token {
  width: 72%;
  height: 57px;
  border-radius: 5px;
  background-color: #b3b3b3;
  margin: 0;
  text-align: center;
}

.tokens_token {
  display: flex;
  justify-content: center;
}

.tokens_generated {
  width: 356px;
  height: 57px;
  margin-left: 10px;
  text-align: center;
}

.disable-tag {
  display: none;
}

#create_player {
  padding-top: 85px;
}

#submit_player {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: black;
  height: 50px;
  border: 5px solid #1f1ff0;
  border-radius: 25px;
  color: white;
  width: 270px;
  height: 40px;
  font-size: 15px;
}

#center-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new_player {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.role_btn_guest {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.role_btn_guest .radio-btn {
  width: 55%;
}

.role_btn_host {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.role_btn_host label {
  width: 75%;
}

.visibility_token {
  visibility: hidden;
}

.invalid-feedback {
  font-size: 9px;
  width: 90%;
  margin-left: 5%;
}
}

@media(max-height: 812px) {
.class_logo {
  width: 340px;
  height: 85px;
}

#home_logo {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.go {
  text-align: center;
}

#go {
  padding-top: 127px;
  font-size: 35px;
}

h1 {
  font-family: 'Press Start 2P', cursive;
}

.ghost_team_home {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.ghost_home {
  width: 30px;
  height: 30px;
  margin: 0 3px;
}

#nickname-input {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

#player_nickname {
  width: 260px;
  height: 45px;
  background-color: black;
  border-color: #1f1ff0;
  border-radius: 5px;
}

.role {
  padding-top: 15px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  border-radius: 5px;
}

.host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 178px;
  height: 45px;
  text-align: center;
  border: 4px solid #1f1ff0;
  background-color: black;
}

.guest {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 178px;
  height: 45px;
  text-align: center;
  border: 4px solid #1f1ff0;
  background-color: #1f1ff0;
}

#type_host {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
#type_guest {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
.form-group {
  padding-top: 20px;
}

#tokens_token {
  width: 72%;
  height: 45px;
  border-radius: 5px;
  background-color: #b3b3b3;
  margin: 0;
  text-align: center;
}

.tokens_token {
  display: flex;
  justify-content: center;
}

.tokens_generated {
  width: 356px;
  height: 57px;
  margin-left: 10px;
  text-align: center;
}

.disable-tag {
  display: none;
}

#create_player {
  padding-top: 85px;
}

#submit_player {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: black;
  height: 50px;
  border: 5px solid #1f1ff0;
  border-radius: 25px;
  color: white;
  width: 270px;
  height: 40px;
  font-size: 15px;
}

#center-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new_player {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.role_btn_guest {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.role_btn_guest .radio-btn {
  width: 55%;
}

.role_btn_host {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.role_btn_host label {
  width: 75%;
}

.visibility_token {
  visibility: hidden;
}

.invalid-feedback {
  font-size: 9px;
  width: 90%;
  margin-left: 5%;
}
}

@media(max-height: 736px) {
.class_logo {
  width: 365px;
  height: 90px;
}

#home_logo {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.go {
  text-align: center;
}

#go {
  padding-top: 70px;
  font-size: 35px;
}

h1 {
  font-family: 'Press Start 2P', cursive;
}

.ghost_team_home {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.ghost_home {
  width: 30px;
  height: 30px;
  margin: 0 3px;
}

#nickname-input {
    padding-top: 60px;
    display: flex;
    justify-content: center;
}

#player_nickname {
  width: 280px;
  height: 45px;
  background-color: black;
  border-color: #1f1ff0;
  border-radius: 5px;
}

.role {
  padding-top: 20px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  border-radius: 5px;
}

.host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 45px;
  text-align: center;
  border: 4px solid #1f1ff0;
  background-color: black;
}

.guest {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 45px;
  text-align: center;
  border: 4px solid #1f1ff0;
  background-color: #1f1ff0;
}

#type_host {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
#type_guest {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
.form-group {
  padding-top: 29px;
}

#tokens_token {
  width: 72%;
  height: 45px;
  border-radius: 5px;
  background-color: #b3b3b3;
  margin: 0;
  text-align: center;
}

.tokens_token {
  display: flex;
  justify-content: center;
}

.tokens_generated {
  width: 356px;
  height: 57px;
  margin-left: 10px;
  text-align: center;
}

.disable-tag {
  display: none;
}

#create_player {
  padding-top: 75px;
}

#submit_player {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: black;
  height: 50px;
  border: 5px solid #1f1ff0;
  border-radius: 25px;
  color: white;
  width: 270px;
  height: 40px;
  font-size: 15px;
}

#center-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new_player {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.role_btn_guest {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.role_btn_guest .radio-btn {
  width: 55%;
}

.role_btn_host {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.role_btn_host label {
  width: 75%;
}

.visibility_token {
  visibility: hidden;
}

.invalid-feedback {
  font-size: 9px;
  width: 90%;
  margin-left: 5%;
}
}

@media(max-height: 667px) {
.class_logo {
  width: 340px;
  height: 85px;
}

#home_logo {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.go {
  text-align: center;
}

#go {
  padding-top: 55px;
  font-size: 35px;
}

h1 {
  font-family: 'Press Start 2P', cursive;
}

.ghost_team_home {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.ghost_home {
  width: 30px;
  height: 30px;
  margin: 0 3px;
}

#nickname-input {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

#player_nickname {
  width: 250px;
  height: 45px;
  background-color: black;
  border-color: #1f1ff0;
  border-radius: 5px;
}

.role {
  padding-top: 15px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  border-radius: 5px;
}

.host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 45px;
  text-align: center;
  border: 4px solid #1f1ff0;
  background-color: black;
}

.guest {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 45px;
  text-align: center;
  border: 4px solid #1f1ff0;
  background-color: #1f1ff0;
}

#type_host {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
#type_guest {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
.form-group {
  padding-top: 19px;
}

#tokens_token {
  width: 72%;
  height: 45px;
  border-radius: 5px;
  background-color: #b3b3b3;
  margin: 0;
  text-align: center;
}

.tokens_token {
  display: flex;
  justify-content: center;
}

.tokens_generated {
  width: 356px;
  height: 57px;
  margin-left: 10px;
  text-align: center;
}

.disable-tag {
  display: none;
}

#create_player {
  padding-top: 65px;
}

#submit_player {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: black;
  height: 50px;
  border: 5px solid #1f1ff0;
  border-radius: 25px;
  color: white;
  width: 270px;
  height: 40px;
  font-size: 15px;
}

#center-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new_player {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.role_btn_guest {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.role_btn_guest .radio-btn {
  width: 55%;
}

.role_btn_host {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.role_btn_host label {
  width: 75%;
}

.visibility_token {
  visibility: hidden;
}

.invalid-feedback {
  font-size: 9px;
  width: 90%;
  margin-left: 5%;
}
}

@media(max-height: 640px) {
.class_logo {
  width: 340px;
  height: 85px;
}

#home_logo {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.go {
  text-align: center;
}

#go {
  padding-top: 48px;
  font-size: 35px;
}

h1 {
  font-family: 'Press Start 2P', cursive;
}

.ghost_team_home {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.ghost_home {
  width: 28px;
  height: 28px;
  margin: 0 3px;
}

#nickname-input {
    padding-top: 46px;
    display: flex;
    justify-content: center;
}

#player_nickname {
  width: 250px;
  height: 45px;
  background-color: black;
  border-color: #1f1ff0;
  border-radius: 5px;
}

.role {
  padding-top: 10px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  border-radius: 5px;
}

.host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 45px;
  text-align: center;
  border: 4px solid #1f1ff0;
  background-color: black;
}

.guest {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 45px;
  text-align: center;
  border: 4px solid #1f1ff0;
  background-color: #1f1ff0;
}

#type_host {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
#type_guest {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
.form-group {
  padding-top: 18px;
}

#tokens_token {
  width: 72%;
  height: 45px;
  border-radius: 5px;
  background-color: #b3b3b3;
  margin: 0;
  text-align: center;
}

.tokens_token {
  display: flex;
  justify-content: center;
}

.tokens_generated {
  width: 356px;
  height: 57px;
  margin-left: 10px;
  text-align: center;
}

.disable-tag {
  display: none;
}

#create_player {
  padding-top: 25px;
}

#submit_player {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: black;
  height: 50px;
  border: 5px solid #1f1ff0;
  border-radius: 25px;
  color: white;
  width: 270px;
  height: 40px;
  font-size: 15px;
}

#center-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new_player {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.role_btn_guest {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.role_btn_guest .radio-btn {
  width: 55%;
}

.role_btn_host {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.role_btn_host label {
  width: 75%;
}

.visibility_token {
  visibility: hidden;
}

.invalid-feedback {
  font-size: 9px;
  width: 90%;
  margin-left: 5%;
}
}

@media(max-height: 568px) {
.class_logo {
  width: 290px;
  height: 75px;
}

#home_logo {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.go {
  text-align: center;
}

#go {
  padding-top: 40px;
  font-size: 30px;
}

h1 {
  font-family: 'Press Start 2P', cursive;
}

.ghost_team_home {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.ghost_home {
  width: 25px;
  height: 25px;
  margin: 0 3px;
}

#nickname-input {
    padding-top: 43px;
    display: flex;
    justify-content: center;
}

#player_nickname {
  width: 220px;
  height: 45px;
  background-color: black;
  border-color: #1f1ff0;
  border-radius: 5px;
}

.role {
  padding-top: 4px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  border-radius: 5px;
}

.host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 45px;
  text-align: center;
  border: 4px solid #1f1ff0;
  background-color: black;
}

.guest {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 45px;
  text-align: center;
  border: 4px solid #1f1ff0;
  background-color: #1f1ff0;
}

#type_host {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
#type_guest {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
.form-group {
  padding-top: 10px;
}

#tokens_token {
  width: 72%;
  height: 45px;
  border-radius: 5px;
  background-color: #b3b3b3;
  margin: 0;
  text-align: center;
  font-size: 14px;
}

.tokens_token {
  display: flex;
  justify-content: center;
}

.tokens_generated {
  width: 356px;
  height: 57px;
  margin-left: 10px;
  text-align: center;
}

.disable-tag {
  display: none;
}

#create_player {
  padding-top: 15px;
}

#submit_player {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: black;
  height: 50px;
  border: 5px solid #1f1ff0;
  border-radius: 25px;
  color: white;
  width: 270px;
  height: 40px;
  font-size: 15px;
}

#center-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new_player {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.role_btn_guest {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.role_btn_guest .radio-btn {
  width: 55%;
}

.role_btn_host {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.role_btn_host label {
  width: 75%;
}

.visibility_token {
  visibility: hidden;
}

.invalid-feedback {
  font-size: 9px;
  width: 90%;
  margin-left: 5%;
}
}
}
