#landing-css {
  font-size: 27px;
}

.btn-ghost {
  font-size: 22px;
  text-align: center;
  color: white;
  border: 5px solid #1f1ff0;
  border-radius: 20px;
  width: 236px;
  height: 48px;
}

#bouton {
  display: flex;
  justify-content: center;
  margin-top: 195px;
}

#best_game {
  text-align: center;
  margin-top: 33px;
  margin-bottom: 1rem;
}

.class_name {
  width: 355px;
  height: 88px;
}

#game_title {
  display: flex;
  justify-content: center;
  padding-top: 18px;
}

.ghost_team {
  margin-left: 118px;
  margin-top: 182px;
}

.ghost {
  width: 25px;
  height: 25px;
}

.font-landing {
  font-size: 27px;
}
