body {
  background-color: black;
  color: white;
  font-size: 27px;
  height: 100%;
  width: 100%;
}

.btn-ghost {
  font-size: 15px;
  text-align: center;
  color: white;
  border: 5px solid #1F1FF0;
  border-radius: 20px;
  width: 236px;
  height: 48px;
}
