#gamemap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 87%;
  height: 90%;
}

body {
  position: relative;
}

.hearts {
  margin: 0;
  padding: 0;
  padding-top: 4px;
  padding-left: 30px;

}

.full_heart {
  width: 35px;
  height: 35px;;
}

.half_heart {
  width: 30px;
  height: 30px;;
}
