<div class="container">
  <h1>Game new page</h1>

  <div id="token">
    <p>Party id</p>
    <div id="generated-token">generated token</div>
  </div>

<%# Generating players list %>
  <div id="players-list">
    <div id="nickname-setting">
      <% @players.each_with_index do |player, index| %>
        <p>Player<%= "_#{index + 1}" %></p>
        <p><%= "#{player.nickname}" %></p>
      <% end %>
    </div>
<%# *********************** %>

    <div id="roles">
    </div>
  </div>
</div>
