<div class="container">
  <h1>Game new page</h1>

  <%# Add here the token generator coded by Anne %>
  <div id="token">
    <p>Party id</p>
    <div id="generated-token">generated token</div>
  </div>
  <%# *********************** %>


  <%# Generating players list %>
  <div id="players-list">
    <% @players.each_with_index do |player, index| %>
      <div id="nickname-setting">
        <div>
          <p>Player<%= "_#{index + 1}:" %></p>
          <p><%= "#{player.nickname}" %></p>
        </div>

        <div class="settings">
          <img src="../../assets/images.settings.png">
        </div>

    <%# List the roles for each user %>
    <div id="roles">
        <img id="pacman-icon" src="pacman.png">
        <img id="ghost-icon" src="~/code/PACMAN-GO/app/assets/images/ghost_red.png">
    </div>
    <%# *********************** %>

      </div>
    <% end %>
  <%# *********************** %>

  </div>
</div>
