<h1>Game new page</h1>

<div id="token">
  <h1>Party id</h1>
  <div id="generated-token">generated token</div>
</div>

<div id="players-list">
  <div id="nickname-setting">
  <%= raise %>
  </div>
  <div id="roles">
  </div>
</div>
