
<div class="container">
  <h1>this is the Game show</h1>

  <%# Add here the token generator coded by Anne %>
  <div id="token">
    <p>Party id</p>
    <div id="generated-token">generated token</div>
  </div>


  <%# Generating players list %>
  <div id="players-list">
    <% @players.each_with_index do |player, index| %>
      <div id="nickname-setting">
        <div>
          <p>Player<%= "_#{index + 1}:" %></p>
          <p><%= "#{player.nickname}" %></p>
        </div>

        <%# Generating settings button for each player %>
        <div class="settings">
          <img src="../../assets/images.settings.png">
        </div>

        <%# List the roles for each player %>
        <div id="roles">
            <img id="pacman-icon" src="pacman.png">
            <%= image_tag "ghost_red.png" %>
            <img id="ghost-icon" src="../../assets/images/ghost_red.png">
        </div>

      </div>
    <% end %>
  </div>
  <% raise %>

  <%# Button to start the game, link to map/plaground screen %>
  <% if @game.player %>
    <div class="start-btn">
      <%= link_to "Start", :anchor => "#players-list" %>
    </div>
  <% end %>
  <%# *********************** %>
</div>

<%# dans les 2 cas les formulaires sont des formulaires de créations de user

Guest
associer user au game
associer token au game
redirige user vers game
crée une participation

Host
Click sur Host requete Ajax (fetch)
  > Appelle le controlle game qui crée la game et génère le token
  > retourne l'HTML avec le code généré
info token cachée pour générer le token et associer
Une fois le game crée, quand on click sur start, il faut associer le game au player dans un champs caché token="b42"

Start envoi
création d'un player
Pseudo
type = hote
les boutons host et guest seront des boutons radios (à restyliser) dans le formulaires
f.radio_input name:"type", value: "guest" %>
