#nickname-setting {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

#nickname-setting p {
  margin: 0px;
}

#settings-name {
  background-color: black;
  border: 4px solid #1f1ff0;
  display: flex;
  justify-content: inherit;
  width: 70%;
  font-size: 13px;
}

#player-name {
  width: 100px;
  padding: 5px;
}

#player-name p {
  text-align: left;
}

#settings {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  border-left: 4px solid #1f1ff0;
  transition: 1ms;
}

#settings:hover {
  background-color: #1f1ff0;
}

#roles {
  display: flex;
  width: 22%;
  align-items: center;
  justify-content: space-around;
  border: 4px solid #1f1ff0;
}

#ghost-id {
  height: 100%;
  display: flex;
  align-items: center;
  border-left: 4px solid #1f1ff0;
}

#ghost-id:hover {
  background-color: #1f1ff0;
}

#pacman-id:hover {
  background-color: #1f1ff0;
}
